#header {
  height: 52px;
  width: 100%;
  min-width: 800px;

  background-color: #f9f9f9;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.5);

  .content {
    margin: 0 auto;
    overflow: hidden;
    width: 800px;

    .logo {
      float: left;

      img {
        padding: 2px;
        height: 48px;
        width: 48px;
      }
    }

    .name {
      float: left;
      font-size: 28px;
      margin-left: 8px;
      line-height: 52px;
    }

    .controls {
      float: right;
      overflow: hidden;

      a {
        font: {
          size: 15px;
        }

        line-height: 40px;
        padding: 6px;
      }

      form {
        position: relative;
        width: 400px;

        input, label {
          position: absolute;
          box-sizing: border-box;
          width: 150px;
        }

        label {
          font-size: 12px;
          height: 16px;
          top: 4px;
        }

        input {
          top: 20px;
        }

        label[for='email'] {
          right: 250px;
        }

        input[name='email'] {
          right: 250px;
        }

        label[for='password'] {
          right: 75px;
        }

        input[name='password'] {
          right: 75px;
        }

        input[type='submit'] {
          right: 0;
          width: 50px;
        }
      }
    }
  }
}

#content {
  margin: 10px auto;
  position: relative;
  width: 800px;
  height: 100%;
}
